
body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #c7d8e9;
}

.clamp2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}